body {
  background-image: linear-gradient(to right, violet, blue);
}

h2 {
  font-family: cursive;
  font-size: 40px;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

table {
  text-align: center;
  margin: 35vh auto;
  width: 400px;
  height: 190px;
  align-self: center;
  border: 4px solid black;
  font-size: 24px;
  padding: 6px;
  background-color: grey;
}

table tr td {
  margin: auto;
}

input {
  width: 85%;
}

button {
  width: 50px 50px;
  font-size: 18px;
  border-radius: 50%;
  font-weight: bolder;
}

button:hover {
  transform: scale(1.1, 1.1);
}

#width {
  width: 110px;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  h2 {
    font-family: cursive;
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}
